{
    "extends": [
        "incuna"
    ],
    "env": {
        "node": true
    },
    "rules": {
        "camelcase": "error",
        "object-curly-newline": [
            "error", {
                "ObjectExpression": {
                    "minProperties": 1,
                    "multiline": true
                },
                "ObjectPattern": {
                    "multiline": true
                }
            }
        ]
    }
}
